@import "../../styles/abstracts/variables.scss";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 57px;
  background-color: transparent;
  transition: 0.3s ease, transform 0.3s ease;

  @media (max-width: 768px) {
    border-radius: 50px;
  }
}

.s {
  padding: 2.5rem 5rem;
  max-width: 18.4rem;
  max-height: 6rem;
  font-size: 1.6rem;
  line-height: 1.9rem;

  @media (max-width: 768px) {
    padding: 1.5rem 3rem;
    max-width: 14rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.m {
  padding: 2rem 5rem;
  min-width: fit-content;
  max-width: 27.3rem;
  max-height: 7.3rem;
  font-family: Inter;
  font-size: 1.8rem;
  line-height: 2.2rem;

  @media (max-width: 768px) {
    padding: 1.7rem 3.5rem;
    max-width: 22rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

.primary {
  border: 1px solid transparent;
  color: $white-color;

  @media (max-width: 768px) {
    border-width: 1px;
  }
}

.primary:hover {
  border-color: $blu-color;
}

.primary:active {
  border-color: $white-color;
  transform: scale(0.98);
}

.secondary {
  border: 1px solid $black-color;
  color: $black-color;

  @media (max-width: 768px) {
    border-width: 1px;
  }
}

.secondary:hover {
  border-color: $blu-color;
  background-color: $blu-color;
  color: $white-color;
}

.secondary:active {
  border-color: $dark-blu-color;
  background-color: $dark-blu-color;
  color: $white-color;
  transform: scale(0.98);
}
